

.c_containerP {
    padding:2rem 2rem 0;
    display:flex;
    justify-content:space-evenly;    
    flex-flow: row wrap;
}

.op-0 {
    opacity:0;
}

button.disabled {
    opacity:.2;
    pointer-events: none;
}
